{% extends "base.html" %}

{% block content %}
<main>
    <h1>Nix Check Build Merge</h1>
    <p class="fs-5 col-md-8">Built failures from packages maintained by {{ maintainer }}</p>
    <div class="mb-5">
        <form method="post" action="/">
            <input
                type="submit"
                value="Update hydra-build"
                name="button1"
                class="btn btn-primary"
            >
            <input
                type="submit"
                value="Update maintained packages"
                name="button2"
                class="btn btn-primary"
            >
        </form>
        <form method="post" action="/"></form>
    </div>
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Package name</th>
                <th>Hydra Build Status</th>
                <th>Build URL</th>
                <th>Timestamp</th>
                <th>Last checked</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
            <tr>
                <td>{{ package.name }}</td>
                <td>{{ package.hydra_status }}</td>
                <td>
                    <a href="{{ package.build_url }}" target="_blank">{{ package.build_url }}</a>
                </td>
                <td>{{ package.timestamp }}</td>
                <td>{{ package.last_checked }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
